<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordfall</title>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="styles/index.css">
    
</head>
<body>
    <div id = "header">
        <img id = "logo" src = "/icon.png">
        <h1 id = "title" >Wordfall</h1>
    </div>
    <h1 class ="question" >Select The Gamemode 🏆</h1>
    <div id = "activities">
        <img id = "3" class="interactive" src = "/interactives/3">
        <img id = "5" class="interactive" src = "/interactives/5">
        <img id = "22"class="interactive" src = "/interactives/22">
        <img id = "25" class="interactive" src = "/interactives/25">
        <img id = "30" class="interactive" src = "/interactives/30">
        <img id = "46" class="interactive" src = "/interactives/46">
        <img id = "69" class="interactive" src = "/interactives/69">
        <img id = "72" class="interactive" src = "/interactives/72">
        <img id = "73" class="interactive" src = "/interactives/73">
    </div>
    <br>
    <div id = "inputquestion">
        <input class = "inpt" id = "name" type="text" placeholder="Enter Your Name">
        <br>
        <br>
        <input class = "inpt" id = "time" type="number" placeholder="Enter Your Time in seconds">
        <br>
        <br>
        <input class = "inpt" id = "score" type="number" placeholder="Enter Your Score">
        <br>
        <br>
        <input type="number" class="inpt" id="number" placeholder="Enter Your id">
        <br>
        <br>
        <button id = "submit">🔥Fire🔥</button>

    </div>
</body>
</html>